---
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import DefaultImage from '../content/blog/covers/blog-placeholder-1.jpg';

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = DefaultImage.src } = Astro.props;

const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;

const pageDescription = description || SITE_DESCRIPTION;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={pageDescription} />
<meta name="author" content="Vladislav Guleaev" />
<meta name="keywords" content="Vladislav Guleaev, Vlad Guleaev, vguleaev, blog" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={pageDescription} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={pageDescription} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
