---
import { Image } from 'astro:assets';
import { formatDate } from '../utils/date.helper';
const { post } = Astro.props;
---

<a class="group block" href={`/blog/${post.slug}/`}>
  <div>
    <Image
      class="w-full object-cover rounded-xl"
      width={720}
      height={360}
      src={post.data.image.url}
      alt={post.data.image.alt}
    />
  </div>
  <h3
    class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-gray-300 dark:group-hover:text-white">
    {post.data.title}
  </h3>
  <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">{formatDate(post.data.pubDate)}</p>
</a>
