---
import { Image } from 'astro:assets';
const { book, width = 360, height = 540 } = Astro.props; // default to portrait 2:3
---

<a class="group block w-full max-w-[240px] mx-auto" href={`/books/${book.slug}/`}>
  <div class="w-full relative overflow-hidden rounded-xl bg-gray-100 dark:bg-neutral-800 aspect-[2/3]">
    <Image
      class="absolute inset-0 w-full h-full object-cover lg:group-hover:scale-105 transition-transform duration-500 ease-in-out"
      width={width}
      height={height}
      src={book.data.image.url}
      alt={book.data.image.alt}
    />
  </div>
  <h3
    class="mt-2 h-14 text-lg font-medium transition-colors duration-300 text-gray-800 group-hover:text-rose-600 dark:text-gray-300 dark:group-hover:text-white leading-tight">
    {book.data.title}
  </h3>
  <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">{book.data.author}</p>
</a>
